

body {
    font-family: Arial, sans-serif;
    background-color: #662549;
    margin: 0;
    padding: 20px;
}

.admin {
    max-width: 800px;
    margin: auto;
    background: #ae445985;
    border-radius: 10px;
    box-shadow: 0 2px 15px black;
    padding: 20px;
}

.section-heading {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

#admin-form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

#admin-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

#admin-form button { 
    padding: 10px;
    background: #c18b96; 
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#admin-form button:hover {
    background-color: #4a1a24; 
    transform: scale(1.02);
}

.admin-list {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Colonnes adaptatives */
    gap: 20px; 
    margin-top: 20px;
}

.admin-item {
    background-color: #fffffff3; 
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-align: center; 
}

.admin-item:hover {
    transform: scale(1.05); 
}

.admin-item h3 {
    margin: 10px 0 5px; 
    color: #333;
}

.admin-item img {
    width: 100%; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 5px;
}

.admin-item p {
    font-size: 18px;
    color: #555;
    margin: 5px 0; 
}

.admin-item .button-container {
    display: flex;
    justify-content: center; 
    margin-top: 10px; 

}

.admin-item button {
    margin: 0 5px; 
    padding: 5px 10px;
    background-color: #c18b96; 
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.admin-item button:hover {
    background-color: #4a1a24; 
    transform: scale(1.05);
}